In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import cs_redshift_connector as RC

## initialise a connection (default is prd-gallium-redshift)

In [5]:
conn = RC.get_conn()

## put a query into a dataframe

In [4]:
df_test = RC.sql_2_df('select top 100 * from post_processed_uk.rpp_issuer_mapping', conn )
df_test

,click_issuer,click_vertical,revenue_issuer
0,ZUTO,Auto,Zuto
1,ZUTO,Loans,Zuto
2,zopa-tesco-hp-secured,Auto,Zopa Tesco Hire Purchase
3,zopa-hp,Auto,Zopa Hire Purchase
4,zopa-hp-secured,Auto,Zopa Hire Purchase
...,...,...,...
95,Sainsbury's Bank (Nectar Cardholders Only),Loans,Sainsburys
96,Sainsbury's Bank (Nectar Members Only),Loans,Sainsburys
97,Sainsbury's Shopper (Nectar Cardholders Only),Loans,Sainsburys
98,RBS - Specific Eligibility Criteria Applies,Auto,RBS
99,Royal Bank of Scotland,Auto,RBS

In [6]:
## za example

In [ ]:
za_conn = RC.get_conn('segment-za')

In [7]:
sql_stat = """
select top 100 user_id, signup_months_diff
from public.ak_za_engagement_segmentation_poc
where 1=1
    and user_id = '00346e62-4d4d-45db-a618-36034999ed06';
"""
    
df_za = RC.sql_2_df(sql_stat, za_conn )
df_za

                                user_id  signup_months_diff
0  00346e62-4d4d-45db-a618-36034999ed06                   6
1  00346e62-4d4d-45db-a618-36034999ed06                   6